.FirstHeading {
    text-align: center;
    color: purple;
}

h1 {
    text-align: center;
    color: purple;
}

.menu {
    background-color: paleturquoise;
    display: flex;
    justify-content: flex-end;
}

.menu a {
    text-decoration: none;
    padding: 30px;
    color: purple;
}

.menu a:hover {
    background-color: gray;
}

@media screen and (max-width: 600px) {
    .menu {
        flex-direction: column;
    }
    .menu a {
        background-color: darksalmon;
        margin: 5px;
        text-align: center;
    }
}

.Block {
    font-size: xx-large;
    border: 10px;
    height: 100%;
    width: 80%;
    margin-top: 20px;
    margin: 20px;
    background-color: paleturquoise;
    display: flex;
    justify-content: start;
    flex-direction: column;
    float: left;
}

#SideBtn {
    width: 15%;
}

.Block a {
    text-decoration: none;
    background-color: skyblue;
    padding: 50px;
    border: 20px;
    margin: 20px;
    border-radius: 5px;
}

.Block a:hover {
    background-color: gray;
}

.DisBlock {
    border: 10px;
    background-color: blueviolet;
    width: 50%;
    margin: 5px;
}

.Profilebtn {
    border: none;
    padding: 5px;
    margin: 5px;
    background-color: paleturquoise;
    font-size: large;
}

.Profilebtn:hover {
    background-color: gray;
}

.LoginArea {
    margin-top: 50px;
    font-size: large;
}

.submit-area {
    font-size: medium;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    padding: 40px;
}

.LoginArea a {
    text-decoration: none;
}

.LoginArea a:hover {
    background-color: gray;
}

.RegisterLink {
    margin-top: 80px;
    font-size: 50px;
}

.RegisterLink a {
    text-decoration: none;
    text-transform: capitalize;
    color: darkgreen;
}

.RegisterLink a:hover {
    background-color: gray;
}

.DocRegiPage {
    margin-left: 150px;
    font-size: medium;
}

.WorkingArea {
    margin-left: 50px;
}

.RegiSubmitBtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.RegiSubmitBtn:hover {
    opacity: 1;
}

.LoginBtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.LoginBtn:hover {
    opacity: 1;
}